# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Create a Jupyter Notebook

* Insert code and markdown cells

* Share your notebook through GitHub

- Python
- R      
- SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. scikitlearn 
2. tkeras 
3. caret 
4. ggplot
5. tensorflow

In [ ]:
|Data Science Tools|
|--------------------|
| RStudio|
|Jupyter|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
CHALLA Caleb Emmanuel